<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

  <bean id="userDaoImpl" class="club.banyuan.dao.Impl.UserDaoImpl"/>
  <bean id="userDaoAroundImpl" class="club.banyuan.dao.Impl.UserDaoAroundImpl"/>
  <bean id="tool" class="club.banyuan.utils.Tool"/>
<!--  <bean id="user" class="club.banyuan.entity.User"/>-->

<!--  切面配置  -->
  <aop:config>
<!--  定义要切入的方法  -->
    <aop:pointcut id="pt" expression="execution(* club.banyuan.dao.Impl.UserDaoImpl.*(..))"/>
    <aop:aspect id="aspect" ref="tool">
      <aop:before method="addBefore" pointcut-ref="pt"/>
      <aop:after method="addAfter" pointcut-ref="pt"/>
      <aop:after-throwing method="addBefore" pointcut-ref="pt"/>
      <aop:after-returning method="addAfter" pointcut-ref="pt"/>
    </aop:aspect>
  </aop:config>

  <aop:config>
    <aop:pointcut id="ptAround" expression="execution(* club.banyuan.dao.Impl.UserDaoAroundImpl.*(..))"/>
    <aop:aspect id="aspectAround" ref="tool">
      <aop:around method="addAround" pointcut-ref="ptAround"/>
    </aop:aspect>
  </aop:config>




</beans>