<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.banyuan.blog.mapper.RoleMapper">

    <select id="getRoleByUid" parameterType="long" resultType="club.banyuan.blog.entity.RoleEntity">
        select r.id, r.name from roles r, roles_user u where r.id = u.rid and u.uid = #{uid}
    </select>
    
    <select id="getAllRole" resultType="club.banyuan.blog.entity.RoleEntity">
        select id, name from roles;
    </select>

</mapper>